<div class="footer-wrapper">
  <footer class="footer text-white bg-red">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col w-6/12 mr-1/12">
            <p class="text-xl">
              You want to share your<br>
              project and your philosophy<br>
              through a singular event?<br>
              Get in touch with us.
            </p>
          </div>
          <div class="col w-5/12 text-lg relative">
            <div class="absolute pin-t pin-r" style="margin-right: 0.125rem">
              <button class="footer-close">
                {% include "components/arrow.html.twig" with {
                  direction : "down",
                  color: "white"
                } %}
              </button>
            </div>
            <div class="flex">
              <div class="w-8">E</div>
              <div class="flex-grow">hallo@suna.nl</div>
            </div>
            <div class="flex">
              <div class="w-8">T</div>
              <div class="flex-grow">040 843 6479</div>
            </div>
            <div class="flex mt-4">
              <div class="w-8">A</div>
              <div class="flex-grow">
                Johannes Buijslaan 10<br>
                5652 NK Eindhoven
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<div class="footer-fixed text-lg">
  <div class="container h-full flex items-center">
    <div class="flex w-full justify-between">
      <button class="footer-toggle dot-white">Contact us</button>
      <div class="">tw fa li</div>
    </div>
  </div>
</div>
