<div class="fixed w-full h-32 z-40">
    <div class="container">
      <nav class="nav pt-10 pb-2 border-b-2 border-red">
        <div class="row justify-between items-end">
          <div class="col">
            <h2>
              <span class="logo">
                Suna.
              </span>
            </h2>
          </div>
          <ul class="nav-items col flex list-reset text-lg text-red">
            <li class="nav-item dot-red">About</li>
            <li class="nav-item dot-red">Portfolio</li>
          </ul>
        </div>
      </nav>
    </div>
  </div>