.footer-wrapper {
  @apply relative w-full mt-8;
  min-height: 350px;
}

.footer {
  @apply absolute w-full pin-l z-40;
  min-height: 350px;
  bottom: 100%;
  margin-bottom: -350px;
}

.footer-fixed {
  @apply text-white fixed pin-b pin-l pin-r bg-red z-40;
  height: 50px;
}
