$section-space: 10;
$column-space: 4;
$offset: 10;
/*  */
.container {
  @apply max-w-5xl mx-auto px-5;
}

.section {
  @apply py-10;
}

.row {
  @apply flex flex-wrap;
  margin: 0 -0.625rem;
  &.flex-no-wrap {
    @apply flex-no-wrap;
  }
}

.col {
  padding: 0 0.625rem;
  &-content {
    @apply p-4;
  }
}

@screen tablet {
  .container {
    @apply px-10;
  }
}