{# Portfolio template #}

{% extends "core/base.html.twig" %}

{% set portfolio_active = true %}

{% set body_class = ['bg-grey-light'] %}

{% block main %}

  {% include "layout/case-tease.html.twig" %}
    <div class="dotted-line"></div>
  {% include "layout/case-tease.html.twig" %}
    <div class="dotted-line"></div>
  {% include "layout/case-tease.html.twig" %}

{% endblock %}
