{# Portfolio template #}

{% extends "core/base.html.twig" %}

{% set portfolio_active = true %}

{% set body_class = ['bg-grey-light'] %}

{% block main %}

  {% for item in page.meta("case_items") %}

    {% include "layout/case-tease.html.twig" with { 
      case: item.post,
      case_index: loop.index0
    } %}

    {% if loop.index < loop.length %}
      <div class="dotted-line"></div>
    {% endif %}

  {% endfor %}

{% endblock %}
