<div class="container">
  <div class="section">
    <div class="row">
      <div class="col w-6/12 mr-1/12">
        <figure class="figure-p-sm bg-grey"></figure>
      </div>
      <figure class="col w-5/12 mt-1/12">
        <figure class="figure-sq bg-black"></figure>
      </div>
    </div>
  </div>
</div>
