<div class="container">
  <div class="section text-black">
    <div class="row">
      <div class="col w-full">
        <figure class="figure-l">
          <img src="https://images.unsplash.com/photo-1557883822-7e3562bd7141?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2556&q=80" alt="">
        </figure>
      </div>
    </div>
  </div>
</div>
