<div class="container">
  <div class="section text-black">
    <div class="row">
      <div class="col w-full">
        <figure class="figure-l">
          <img{{ image|get_timber_image_responsive('landscape-100vw') }}>
        </figure>
      </div>
    </div>
  </div>
</div>
