<div class="container">
  <div class="section text-black">
    <div class="row">
      <div class="col w-full">
        <figure class="figure-l">
          <img src="{{ theme.link}}/images/placeholder/05e55f5fd291b459fa3da658b461503b75e30d7c.jpg" alt="">
        </figure>
      </div>
    </div>
  </div>
</div>
