<div class="container">
  <div class="section">
    <div class="row">
      <div class="col scroll-size scroll-size-left w-7/12">
        <figure class="figure-p-sm bg-grey">
          <div class="canvas-container absolute pin overflow-hidden"></div>
        </figure>
      </div>
      <div class="col scroll-size scroll-size-right w-5/12 mt-1/12">
        <figure class="figure-p-lg bg-grey">
          <div class="canvas-container absolute pin overflow-hidden"></div>
        </figure>
      </div>
    </div>
  </div>
  <div class="dotted-line"></div>
</div>
