<div class="container">
  <div class="dotted-line"></div>
  <div class="section swiper-section" data-effect="fade">
    <div class="swiper-container">
      <div class="swiper-wrapper">

        <div class="swiper-slide keynote">
          <div class="flex flex-no-wrap justify-between">
            <div class="w-full tablet:w-8/12 desktop-sm:w-5/12 desktop-sm:mr-2/12 relative">
              <div class="text-3xl text-red relative mb-10 desktop-sm:absolute pin-t pin-l">
                01.
              </div>
              <div class="text-xl relative desktop-sm:absolute pin flex items-center">
                <div>
                  <h2 class="text-red">Mestic Bio Lab</h2>
                  <p class="text-xl indent mb-8">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elire.
                  </p>
                </div>
              </div>
            </div>
            <div class="hidden desktop-sm:block w-5/12">
              <figure class="figure-p-xs bg-grey"></figure>
            </div>
          </div>
        </div>

        <div class="swiper-slide keynote">
          <div class="flex flex-no-wrap justify-between">
            <div class="w-full tablet:w-8/12 desktop-sm:w-5/12 desktop-sm:mr-2/12 relative">
              <div class="text-3xl text-red relative mb-10 desktop-sm:absolute pin-t pin-l">
                02.
              </div>
              <div class="text-xl relative desktop-sm:absolute pin flex items-center">
                <div>
                  <h2 class="text-red">Ispum dolor</h2>
                  <p class="text-xl indent mb-8">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elire.
                  </p>
                </div>
              </div>
            </div>
            <div class="hidden desktop-sm:block w-5/12">
              <figure class="figure-p-xs bg-red"></figure>
            </div>
          </div>
        </div>

        <div class="swiper-slide keynote">
          <div class="flex flex-no-wrap justify-between">
            <div class="w-full tablet:w-8/12 desktop-sm:w-5/12 desktop-sm:mr-2/12 relative">
              <div class="text-3xl text-red relative mb-10 desktop-sm:absolute pin-t pin-l">
                03.
              </div>
              <div class="text-xl relative desktop-sm:absolute pin flex items-center">
                <div>
                  <h2 class="text-red">Lorem</h2>
                  <p class="text-xl indent mb-8">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elire.
                  </p>
                </div>
              </div>
            </div>
            <div class="hidden desktop-sm:block w-5/12">
              <figure class="figure-p-xs bg-black"></figure>
            </div>
          </div>
        </div>

      </div>

      <div class="absolute pin-b pin-r desktop-sm:pin-l flex z-10">
        <div class="swiper-prev mr-2">
          {% include "components/arrow.html.twig" with {
            direction : "left",
            color: "grey"
          } %}
        </div>
        <div class="swiper-next ml-2">
          {% include "components/arrow.html.twig" with {
            direction : "right",
            color: "grey"
          } %}
        </div>
      </div>
    </div>

    <div class="h-16 w-full relative mt-8">
      <div class="absolute pin z-10">
        <ul class="swiper-custom-pagination list-reset w-full flex justify-between items-center">
          <li class="pagination-item crumb active" data-swiper-target="1">
            <div class="indicator"></div>
            <div>01</div>
          </li>
          <li class="pagination-item crumb" data-swiper-target="2">
            <div class="indicator"></div>
            <div>02</div>
          </li>
          <li class="pagination-item crumb" data-swiper-target="3">
            <div class="indicator"></div>
            <div>03</div>
          </li>
        </ul>
      </div>
      <div class="absolute pin z-0">
        <div class="dotted-line mt-4"></div>
      </div>
    </div>

  </div>
</div>
