<div class="container">
  <div class="section">
    <div class="row">
      <div class="col scroll-size scroll-size-left w-full desktop-sm:w-7/12">
        <figure class="figure-p-sm bg-grey">
          <img{{ page.meta('header_images').left|get_timber_image_responsive('portrait-50vw') }} class="desaturate long scroll-saturate">
          <div class="canvas-container z-30 absolute pin overflow-hidden"></div>
        </figure>
      </div>
      <div class="col hidden desktop-sm:block scroll-size scroll-size-right w-5/12 mt-1/12">
        <figure class="figure-p-lg bg-grey">
          <img class="desaturate long scroll-saturate"{{ page.meta('header_images').right|get_timber_image_responsive('square-50vw') }}>
          <div class="canvas-container z-30 absolute pin overflow-hidden"></div>
        </figure>
      </div>
    </div>
  </div>
  <div class="dotted-line hidden desktop-sm:block"></div>
</div>
