<div class="container">
  <div class="section swiper-section" data-effect="fade">
    <div class="relative">
      <div class="row mb-10">
        <div class="col w-full flex justify-start">
          <div class="text-3xl text-black pb-5">News feed</div>
        </div>
      </div>

      <div class="swiper-container">

        <div class="swiper-wrapper">

          {% for item in items %}
            
            <div class="swiper-slide">
              <div class="w-full">
                <div class="row desktop-sm:flex-no-wrap">
                  <div class="col w-full desktop-sm:w-6/12">
                    <figure class="figure-p-lg bg-black">
                      <img{{ item.post.meta('image')|get_timber_image_responsive('portrait-50vw') }}>
                    </figure>
                  </div>
                  <div class="col w-full desktop-sm:w-5/12 desktop-sm:ml-1/12">
                    <div class="py-5 desktop-sm:flex justify-between text-lg desktop-sm:pb-10 desktop-sm:pt-0">
                      <div>{{ item.post.meta('date') }}</div>
                      <div>{{ item.post.meta('category') }}</div>
                    </div>
                    <p class="text-black">
                      {{ item.post.meta('text') }}
                    </p>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}

        </div>

        <div class="w-5/12 ml-7/12 mt-5 relative desktop-sm:absolute pin-b flex justify-end desktop-sm:justify-start z-10">
          <div class="swiper-prev mr-2">
            {% include "components/arrow.html.twig" with {
              direction : "left",
              color: "grey"
            } %}
          </div>
          <div class="swiper-next ml-2">
            {% include "components/arrow.html.twig" with {
              direction : "right",
              color: "grey"
            } %}
          </div>
        </div>

      </div>
      <div class="dotted-line my-10 desktop-sm:hidden"></div>
      <div class="go-to-top">
        <a href="#" class="flex items-end">
          <div class="text-xl text-red desktop-sm:text-grey mr-4">
            Go to top
          </div>
          <div class="hidden desktop-sm:block">
            {% include "components/arrow.html.twig" with {
              direction : "up",
              color: "grey"
            } %}
          </div>
          <div class="block desktop-sm:hidden">
            {% include "components/arrow.html.twig" with {
              direction : "up",
              color: "red"
            } %}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
