<div class="container">
  <div class="section swiper-section" data-effect="fade">

    <div class="row items-stretch">
      <div class="col self-auto w-7/12 relative">
        <ul class="swiper-custom-pagination list-reset">
          <li class="pagination-item trigger-hover active" data-swiper-target="1" data-label-left="Fashion" data-label-right="2016">
            <a href="http://localhost:8080/case/mestic-bio-lab/">
              <h1 class="text-2xl">Mestic Bio Lab<span class="superscript">01</span></h1>
            </a>
          </li>
          <li class="pagination-item trigger-hover link-click" data-swiper-target="2" data-label-left="2" data-label-right="2019">
            <a href="http://localhost:8080/case/mestic-bio-lab/1">
              <h1 class="text-2xl">STRP Festival<span class="superscript">02</span></h1>
            </a>
          </li>
          <li class="pagination-item trigger-hover link-click" data-swiper-target="3" data-label-left="3" data-label-right="2019">
            <a href="http://localhost:8080/case/mestic-bio-lab/2">
              <h1 class="text-2xl">Dutch Design Week<span class="superscript">03</span></h1>
            </a>
          </li>
          <li class="pagination-item trigger-hover link-click" data-swiper-target="4" >
            <a href="http://localhost:8080/case/mestic-bio-lab/3">
              <h1 class="text-2xl">Glow Next Eindhoven<span class="superscript">04</span></h1>
            </a>
          </li>
          <li class="pagination-item trigger-hover link-click" data-swiper-target="5" data-label-left="5" data-label-right="2019">
            <a href="http://localhost:8080/case/mestic-bio-lab/4">
              <h1 class="text-2xl">Makers Day<span class="superscript">05</span></h1>
            </a>
          </li>
        </ul>
        <div class="absolute col w-full pin-l pin-b">
          <div class="swiper-label flex justify-between w-full">
            <div class="label-left text-black caption"></div>
            <div class="label-right text-black caption"></div>
          </div>
        </div>
      </div>
      <div class="col w-5/12">
        <div class="w-full">
          <div class="swiper-container">
            <div class="swiper-wrapper">

              {# <div class="swiper-slide">
                <div class="row flex-no-wrap items-end">
                  <div class="col w-7/12 flex justify-between">
                    <div class="caption">Fashion Innovation</div>
                    <div class="caption">2016</div>
                  </div>
                  <div class="col w-5/12">
                    <figure class="figure-p-lg bg-black"></figure>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="row flex-no-wrap items-end">
                  <div class="col w-7/12 flex justify-between">
                    <div class="caption">Lorem Ipsum</div>
                    <div class="caption">2017</div>
                  </div>
                  <div class="col w-5/12">
                    <figure class="figure-p-lg bg-red"></figure>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="row flex-no-wrap items-end">
                  <div class="col w-7/12 flex justify-between">
                    <div class="caption">Sit Dolor</div>
                    <div class="caption">2018</div>
                  </div>
                  <div class="col w-5/12">
                    <figure class="figure-p-lg bg-grey"></figure>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="row flex-no-wrap items-end">
                  <div class="col w-7/12 flex justify-between">
                    <div class="caption">Fashion Innovation</div>
                    <div class="caption">2016</div>
                  </div>
                  <div class="col w-5/12">
                    <figure class="figure-p-lg bg-black"></figure>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="row flex-no-wrap items-end">
                  <div class="col w-7/12 flex justify-between">
                    <div class="caption">Lorem Ipsum</div>
                    <div class="caption">2017</div>
                  </div>
                  <div class="col w-5/12">
                    <figure class="figure-p-lg bg-red"></figure>
                  </div>
                </div>
              </div> #}

              <div class="swiper-slide">
                    <figure class="figure-p-lg bg-red"></figure>
              </div>

              <div class="swiper-slide">
                    <figure class="figure-p-lg bg-black"></figure>
              </div>

              <div class="swiper-slide">
                    <figure class="figure-p-lg bg-red"></figure>
              </div>

              <div class="swiper-slide">
                    <figure class="figure-p-lg bg-black"></figure>
              </div>

              <div class="swiper-slide">
                    <figure class="figure-p-lg bg-grey"></figure>
              </div>

            </div>
          </div>
          {% if link %}
            <div class="mt-24 text-xl text-red flex justify-end items-center">
              <div class="mr-4">{{ link }}</div>{% include "components/cross.html.twig" %}</div>
          {% endif %}

        </div>

      </div>
    </div>
  </div>
</div>
