  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col w-6/12 mr-1/12">
        <span class="text-lg mr-8">Jalila Essaidi</span><quote class="text-xl text-black">Suna. really helped me bring Mestic to the next level 
and be able to reach a brand 
new international audience.</quote>
        </div>
        <div class="col w-5/12">
          <figure class="figure-p-lg bg-grey">
          </figure>
        </div>
      </div>
    </div>
  </div>