<div class="container">
  <div class="section air-top swiper-section" data-effect="fade">
    <div class="row items-end col-reverse-mobile">

      <div class="col w-full desktop-sm:w-7/12 flex row-reverse-mobile justify-between items-end mt-5 desktop-sm:mt-0">
        <div class="flex z-10">
          <div class="swiper-prev mr-2">
            {% include "components/arrow.html.twig" with {
              direction : "left",
              color: "grey"
            } %}
          </div>
          <div class="swiper-next ml-2">
            {% include "components/arrow.html.twig" with {
              direction : "right",
              color: "grey"
            } %}
          </div>
        </div>
        <div class="swiper-count">1/{{ slides|length }}</div>
      </div>

      <div class="col w-full desktop-sm:w-5/12">
        <div class="w-full">
          <div class="swiper-container">
            <div class="swiper-wrapper">

              {% for slide in slides %}
                
                <div class="swiper-slide">
                  <figure class="figure-p-lg bg-grey">
                    <img{{ slide.image|get_timber_image_responsive('portrait-50vw') }}>
                  </figure>
                </div>
              
              {% endfor %}

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
