  <div class="container">
    <div class="section swiper-section" data-effect="fade">

      <div class="row items-start">
        <div class="col w-7/12">
          <ul class="swiper-custom-pagination list-reset">
            <li class="pagination-item trigger-hover active" data-swiper-target="1">
              <h1>Droom het, doe het.<span class="superscript">01</span></h1>
            </li>
            <li class="pagination-item trigger-hover" data-swiper-target="2">
              <h1>Geen shortcuts.<span class="superscript">02</span></h1>
            </li>
            <li class="pagination-item trigger-hover" data-swiper-target="3">
              <h1>Inspireer anderen.<span class="superscript">03</span></h1>
            </li>
            <li class="pagination-item trigger-hover" data-swiper-target="4">
              <h1>Maak het waardevol.<span class="superscript">04</span></h1>
            </li>
          </ul>
        </div>
        <div class="col w-5/12">
          <div class="w-full">
            <div class="swiper-container">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <p>
                    <span class="highlight">We turn ideas into realities</span>
                    to make you reach your ambition. We analyse and define the character of the production. We turn ideas into realities to make you reach your ambition. We analyse and define. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                  </p>
                  <p>
                    We make sure that you reach your ambition. We analyse and define the character of the production. We turn ideas into realities to make you reach your ambition. We analyse and define. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>

                <div class="swiper-slide">
                  <p>
                    <span class="highlight">Accusantium quidem aliquid excepturi.</span>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem aliquid excepturi, odio sunt fugiat doloribus aspernatur repellat tenetur sint ut aut non ad itaque sed omnis ab, unde in?
                  </p>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, labore similique illo voluptatem molestias omnis nostrum quos, perferendis rerum voluptatum nulla non itaque iure asperiores tempora? Nostrum voluptatem iure dolores.
                  </p>
                </div>

                <div class="swiper-slide">
                  <p>
                    <span class="highlight">Debitis aliquid dolor quidem.</span>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit minima neque quos ipsam aut magni quod illo asperiores facere beatae, laborum culpa quia at, ipsum corporis dolore id, vitae explicabo!
                  </p>
                  <p>
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic molestias architecto harum repudiandae quia voluptas optio, ut reprehenderit ab ad labore at possimus nulla consequatur ea? Ipsa voluptate quis sit!
                  </p>
                </div>

                <div class="swiper-slide">
                  <p>
                    <span class="highlight">Odit minima neque quos.</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid dolor quidem eligendi adipisci asperiores consequuntur delectus, saepe quibusdam minus dolore impedit ex cum fuga. Dolorem corrupti ducimus quasi consequatur.
                  </p>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet tempore tempora et impedit odio illo ab laudantium, modi velit commodi exercitationem possimus ea deserunt sed dolorum corporis aspernatur quas perspiciatis.
                  </p>
                </div>

              </div>
            </div>
            {% if link %}
              <div class="mt-24 text-xl text-red flex justify-end items-center"><div class="mr-4">{{ link }}</div>{% include "components/cross.html.twig" %}</div>
            {% endif %}
            

          </div>

        </div>
      </div>
    </div>
  </div>